.nav {
    grid-area: b;
    background-color: white;
    padding: 20px;
}

.item {
    height: 50px;
    /*border-left: 1px solid rgba(0, 0, 0, .2);*/
}

.item a {
    color: darkslategray;
    text-decoration: none;
}

.item a.activeLink {
    color: red;
}
